#####################################
# Media and other bloat-prone files
#####################################
*.png
*.ppt
*.pptx
*.mov
*.avi
*.jp2
*.eps
*.doc
*.docx
*.pdf
*.jpg
Timelapse/Compressed file.7z/.DS_Store
Output/PreTrained/.DS_Store
Timelapse/.DS_Store
